* {
	box-sizing: border-box;
}

#toc {
	position: fixed;
	top:  0;
	left: 0;
	margin: 40px;
}

.navbar {
	position: fixed;
	right: 20px;
}

.navbar img {
	height: 40px;
	width: 40px;
	margin: 20px;
}

.example {
	background-color: #f2f2f2;
	padding: 10px;
}

.example em {
	font-weight: bold;
}

@media only screen and (max-width: 875px) {
	#toc {
		display: none;
	}

	.navbar {
		display: none;
	}
}